<main id="index-main">
    <div class="welcome-container" style="margin-bottom: 5px;">
        <img src="https://i.ibb.co/DPS32XQm/Welcome-4-Chinese-RIC3-Fam.jpg" alt="Welcome Chinese RIC3 Family White Logo" class="logo-image" style="display:block;">
    </div>

    <p class="index" style="margin: 5px 0;">
        Welcome to the RIC3 Family Hub, created to support the people, activities and events of the 
        <a href="https://familyfrisbee-548221658433.us-central1.run.app/users/69968a00ee5db71ea81c42f9">RIC3 2 RICE</a> movement.  Hello, my name is <a href="https://familyfrisbee-548221658433.us-central1.run.app/users/65abfd56c49b7bd251abc17b">Wilkin Lai</a> and I am a Creative Real Estate Professional, licensed as a mortgage broker and a Realtor.  Check out this new initiative we are working to develop called  <a href="https://familyfrisbee-548221658433.us-central1.run.app/groups/6995d0f152e2f45a849ce743"> Artist Staging Real Estate Staging Artists </a> and collaborate with me!
    </p>

    <p class="index" style="margin: 5px 0;">
        Let me also introduce you to the RIC3 Fam entities. <a href="https://ric3family.com/groups/69a069c5c5596483516b4c9a">RIC3 Mortgage Broker</a> is licensed in Michigan & New York to provide home loans.  <a href="https://ric3family.com/groups/699f20d3d6f5dee862de52ab">RIC3 Creative Community</a> helps to launch outside the box initiatives designed to enhance community, some examples are the non-profit <a href="https://www.ccservicenetwork.org/">Creative Community Service Network</a>, the <a href="https://ric3family.com/groups/69a04db5de55141240438ea4">BlueHouse</a> artist residence in Detroit and RIC3 Ultimate Fun organizes events with fun games that are accessible for everyone to play, see <a href="https://lightroom.adobe.com/shares/3884edc87f7d46888c0219e707cdb1f3">RIC3 Family Ultimate Frisbee</a> photos. 
    </p>

    <div class="mortgage-container" style="margin-top: 5px;">
        <img src="https://i.ibb.co/0MwySt2/Organized-RIC3-CC-Sponsored-RIC3-MB.jpg" alt="Organized by RIC3 Creative Community - Sponsored by RIC3 Mortgage Broker." class="mortgage-logo" style="display:block;">
    </div>
</main>
