<main id="index-main">
    <div class="welcome-container" style="margin-bottom: 5px;">
        <img src="https://i.ibb.co/Lz5P8vCJ/Welcome-4-Chinese-RIC3-Fam.jpg" alt="Welcome Chinese RIC3 Family White Logo" class="logo-image" style="display:block;">
    </div>

    <p class="index" style="margin: 5px 0;">
        Welcome to the RIC3 Family Hub, which was created to support the people, activities and events of the 
        <a href="https://familyfrisbee-548221658433.us-central1.run.app/users/69968a00ee5db71ea81c42f9">RIC3 2 RICE</a> movement.
    </p>

    <p class="index" style="margin: 5px 0;">
        Hi, my name is <a href="https://familyfrisbee-548221658433.us-central1.run.app/users/65abfd56c49b7bd251abc17b">Wilkin Lai</a>. 
        I am a creative <a href="https://www.linkedin.com/in/wilkinlai">Real Estate Professional</a>, a mortgage broker with RIC3 Mortgage Broker and a Realtor with Premier Agent Network. 
        Currently, I am working on a project that will allow more artists and community minded curators to participate in the real estate transaction process. 
        Please check out <a href="https://familyfrisbee-548221658433.us-central1.run.app/groups/6995d0f152e2f45a849ce743">Artists in Real Estate</a> and collaborate with me.
    </p>

    <p class="index" style="margin: 5px 0;">
        Let me also introduce you to some of the RIC3 Fam entities. RIC3 Mortgage Broker is licensed in Michigan and New York to help people get home loans.  RIC3 Family Ultimate Frisbee organizes fun events that are accessible to everyone.  RIC3 Creative Community. 
        RIC3 Creative Community helps to launch outside the box initiatives designed to helped, supoport and collaborate with the community.  Some examples are the non-profit Creative Community Service Network and the BlueHouse artist residence in Detroit. 
    </p>

    <div class="mortgage-container" style="margin-top: 5px;">
        <img src="https://i.ibb.co/0MwySt2/Organized-RIC3-CC-Sponsored-RIC3-MB.jpg" alt="Organized by RIC3 Creative Community - Sponsored by RIC3 Mortgage Broker." class="mortgage-logo" style="display:block;">
    </div>
</main>
