<main id="index-main">
    <div class="welcome-container" style="margin-bottom: 5px;">
        <img src="https://i.ibb.co/Lz5P8vCJ/Welcome-4-Chinese-RIC3-Fam.jpg" alt="Welcome Chinese RIC3 Family White Logo" class="logo-image" style="display:block;">
    </div>

    <p class="index" style="margin: 5px 0;">
        Welcome to the RIC3 Family Hub, created to support the people, activities and events of the 
        <a href="https://familyfrisbee-548221658433.us-central1.run.app/users/69968a00ee5db71ea81c42f9">RIC3 2 RICE</a> movement.
    </p>

    <p class="index" style="margin: 5px 0;">
        Hi, my name is <a href="https://familyfrisbee-548221658433.us-central1.run.app/users/65abfd56c49b7bd251abc17b">Wilkin Lai</a>. 
        I am a creative real estate professional, a Realtor with <a href="https://premieragentnetwork.com/roster/wilkin-lai-6501456405">Premier Agent Network</a> and a mortgage broker. 
        Currently, I am working on a project that will allow more artists and curators to help people buy and sell homes. 
        Please check out <a href="https://familyfrisbee-548221658433.us-central1.run.app/groups/6995d0f152e2f45a849ce743">Artists in Real Estate</a> and collaborate with me!
    </p>

    <p class="index" style="margin: 5px 0;">
        Let me also introduce you to some RIC3 Fam entities. <a href="https://www.linkedin.com/in/wilkinlai">RIC3 Mortgage Broker</a> is licensed in Michigan & New York to provide home loans.  RIC3 Ultimate Fun organizes events with fun games that are accessible for everyone to play. Check out <a href="https://lightroom.adobe.com/shares/3884edc87f7d46888c0219e707cdb1f3">RIC3 Family Ultimate Frisbee</a> photos. <a href="https://wilkinlai.wixsite.com/mysite-2/ric3fam">RIC3 Creative Community</a> helps to launch outside the box initiatives designed to help, supoport and collaborate with the community, some examples are the non-profit <a href="https://www.ccservicenetwork.org/">Creative Community Service Network</a> and the <a href="https://wilkinlai.wixsite.com/mysite-2/bluehouse">BlueHouse</a>artist residence in Detroit. 
    </p>

    <div class="mortgage-container" style="margin-top: 5px;">
        <img src="https://i.ibb.co/0MwySt2/Organized-RIC3-CC-Sponsored-RIC3-MB.jpg" alt="Organized by RIC3 Creative Community - Sponsored by RIC3 Mortgage Broker." class="mortgage-logo" style="display:block;">
    </div>
</main>
