<main id="index-main">
    <div class="welcome-container" align="left">
        <img src="https://i.ibb.co/Sw2jkXfn/Welcome-3-Chinese-RIC3-Fam.jpg" alt="Welcome Chinese RIC3 Family White Logo" class="logo-image" >
    </div>

    <p class="index">
        Welcome to the RIC3 Family Hub, which was created to support the people, activities and events of the <a href="https://www.ricthree.com/copy-of-welcome-to-ric3-family"> RIC3 2 RICE </a> movement.       
        <br>
        We all know what RICE is, that small cereal grain, but for over half of the world's population, it is a foundational symbol answering one of life's most basic questions "will there be food on the table?".  “RIC3” is our brand (“RI” +(“C3”) communicating that the Real Investment (RI) is Real People, expressed as we share Commerce, support Community and collaborate in Creativity (the 3C’s).  The 2 reflects the realization that the 3 is also an E.  When we see that the number 3 also represents the letter E, the flow between RIC3 and RICE is established and voila, abundance for the whole family.
           </p>
    <br>
  <p class="index">
    Hi, my name is <a href="https://familyfrisbee-548221658433.us-central1.run.app/users/65abfd56c49b7bd251abc17b"> Wilkin Lai </a>.  I am a creative <a href="https://www.linkedin.com/in/wilkinlai"> Real Estate Professional.  I help people find a home they can buy  where they can grow, play and be safe.  I help them find the resources (i.e. the piggy bank) to pay for it.  Then I help people sell their home when it is time for someone else to benefit from the home.  Currently, I am working on a project that will allow more artists and community minded event planners to participate in the real estate transaction process.  If you are interested in finding out more or collaborating click <a href="https://familyfrisbee-548221658433.us-central1.run.app/groups/6995d0f152e2f45a849ce743"> Artists in Real Estate </a>.         
      
    <p class="index">
        If you haven't yet, please create a user profile where you can add photos, share about yourself and join in more RIC3 events and activities.  
    </p>
    <img src="https://i.ibb.co/VvPjRZb/RIC3-FAM.png" alt="RIC3 FAM Logo" align="left" width="10%" class="index">

        <div class="mortgage-container">
        <img src="https://i.ibb.co/0MwySt2/Organized-RIC3-CC-Sponsored-RIC3-MB.jpg" alt="Organized by RIC3 Creative Community - Sponsored by RIC3 Mortgage Broker." class="mortgage-logo">
    </div>
</main>
