<main id="index-main">
    <div class="welcome-container" align="left">
        <img src="https://i.ibb.co/Lz5P8vCJ/Welcome-4-Chinese-RIC3-Fam.jpg" alt="Welcome Chinese RIC3 Family White Logo" class="logo-image">
    </div>

    <p class="index">
        Welcome to the RIC3 Family Hub, which was created to support the people, activities and events of the 
        <a href="https://familyfrisbee-548221658433.us-central1.run.app/users/69968a00ee5db71ea81c42f9">RIC3 2 RICE</a> movement.
    </p>

    <p class="index">
        Hi, my name is <a href="https://familyfrisbee-548221658433.us-central1.run.app/users/65abfd56c49b7bd251abc17b">Wilkin Lai</a>. 
        I am a creative <a href="https://www.linkedin.com/in/wilkinlai">Real Estate Professional</a>. 
        Currently, I am working on a project that will allow more artists and community minded curators to participate in the real estate transaction process. 
        If you are interested or want to collaborate click <a href="https://familyfrisbee-548221658433.us-central1.run.app/groups/6995d0f152e2f45a849ce743">Artists in Real Estate</a>.
    </p>

    <p class="index">
        Let me also introduce you to some of the RIC3 Fam entities: 1. RIC3 Mortgage Broker 2. RIC3 Family Ultimate Frisbee 3. RIC3 Creative Community. 
        RIC3 Creative Community helped to form and supports the non-profit Creative Community Service Network and the BlueHouse, an artist house in Detroit.
    </p>

    <div class="mortgage-container">
        <img src="https://i.ibb.co/0MwySt2/Organized-RIC3-CC-Sponsored-RIC3-MB.jpg" alt="Organized by RIC3 Creative Community - Sponsored by RIC3 Mortgage Broker." class="mortgage-logo">
    </div>
</main>
