<main id="index-main">
    <div class="welcome-container" style="margin-bottom: 5px;">
        <img src="https://i.ibb.co/DPS32XQm/Welcome-4-Chinese-RIC3-Fam.jpg" alt="Welcome Chinese RIC3 Family White Logo" class="logo-image" style="display:block;">
    </div>

    <p class="index" style="margin: 5px 0;">
        Welcome to the RIC3 Family Hub, created to support the RIC3Fam community and the activities of the <a href="https://familyfrisbee-548221658433.us-central1.run.app/users/69968a00ee5db71ea81c42f9">RIC3 2 RICE</a> movement.  Hello, my name is <a href="https://familyfrisbee-548221658433.us-central1.run.app/users/65abfd56c49b7bd251abc17b">Wilkin Lai</a> and I am a Creative Real Estate Professional, a licensed mortgage broker and Realtor.  Please check out our new <a href="familyfrisbee-548221658433.us-central1.run.app/groups/6a21d692cdf4217940c363e6">artist in residence(s) </a> initiative!
    </p>
