{{#if slideshowImages.length}}
<div class="gallery-wrapper">
    <div class="gallery-grid">
        {{#each slideshowImages}}
            <figure class="gallery-item">
                <img src="{{this}}" class="gallery-image" alt="Gallery image" loading="lazy">
                <figcaption class="gallery-caption"></figcaption>
                {{#if ../isOwner}}
                    <button type="button" class="gallery-delete-button">Delete</button>
                {{/if}}
                {{#unless ../isOwner}}
                    {{#if ../currentUser.isAdmin}}
                        <button type="button" class="gallery-delete-button">Delete</button>
                    {{/if}}
                {{/unless}}
            </figure>
        {{/each}}
    </div>

    <p id="error-label" hidden></p>
    <p id="message-label" hidden></p>
</div>

<!-- Enlarged-picture overlay (shown on double-click of a picture) -->
<div id="gallery-lightbox" class="gallery-lightbox" hidden>
    <button type="button" class="gallery-lightbox-close" aria-label="Close">&times;</button>
    <img class="gallery-lightbox-image" src="" alt="Enlarged picture">
    <div class="gallery-lightbox-caption"></div>
</div>
{{/if}}

<script src="/public/js/slideshow.js"></script>
<script src="/public/js/pictures.js"></script>
