{{#if slideshowImages.length}}
<div class="gallery-wrapper">
    <div class="gallery-controls">
        <span class="gallery-controls-label">Pictures per row:</span>
        <button type="button" class="gallery-col-button" data-cols="1">1</button>
        <button type="button" class="gallery-col-button" data-cols="2">2</button>
        <button type="button" class="gallery-col-button" data-cols="3">3</button>
    </div>

    <div class="gallery-grid" id="gallery-grid">
        {{#each slideshowImages}}
            <figure class="gallery-item">
                <img src="{{this}}" class="gallery-image" alt="Gallery image" loading="lazy">
                {{#if ../isOwner}}
                    <button type="button" class="gallery-delete-button">Delete</button>
                {{/if}}
                {{#unless ../isOwner}}
                    {{#if ../currentUser.isAdmin}}
                        <button type="button" class="gallery-delete-button">Delete</button>
                    {{/if}}
                {{/unless}}
            </figure>
        {{/each}}
    </div>

    <p id="error-label" hidden></p>
    <p id="message-label" hidden></p>
</div>
{{/if}}

<script src="/public/js/slideshow.js"></script>
<script src="/public/js/pictures.js"></script>
